<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="css/main.css">
    <title>my chat page</title>
</head>
<body>
    <main id="app">
        <h2 class="text">Mom's Chat</h2>
        <p>This chat is a First Aid to find out what is going on with your child<span>&#128118;</span></p>

        <!-- vue section -->
        <div class="nk">
        <label for="nickname" class="nickn"> Nickname</label>
      <input v-model='nickname' type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
    </div>
        
        <section class="message">
            <ul id="messages" v-for="message in messages">
                <newmessage class="newM" :msg="message" :socketid="socketID"></newmessage>
            </ul>
        </section>
    

        <section class="message-wrapper">
            <h2 class="hidden">Type area</h2>
            <textarea v-model="message" class="text-message" placeholder="&#9997;"></textarea>
            <button class="button" @click.prevent="dispatchMessage" type="submit">Send</button>
        </section>



    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
    
</body>
</html>