<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Moms Chat App</title>
</head>

<body>

    <main id="app">
        <h1 class="text">Mom's Chat App</h1>
        <p>This is the chat of First Aid for moms</p>

        <audio volume="60" ref="music">
            <source src="/audio/music.mp3" id="sound" type="audio/wav">
        </audio>
        
        <div id="chatapp" v-if="joinchat">
            <section class="messages" ref="messages">
                <div class="message" v-for="message in messages" :key="message.message.id" :class="{ messegechat: socket_ID === message.id }">
                    <newmessage :message="message"></newmessage>
                </div>
            </section>

            <section class="message-wrapper">
             <section class="tc">
                <textarea v-model="message" class="text-message" placeholder="Ask something.."></textarea>
            </section>
            <section class="cb">
                <button class="btn" @click.prevent="dispatchMessage" type="submit">Sent</i></button>
            </section>

            </section>
        </div>

        <section class="login-wrapper" v-else>
            <section class="login">
                <input class="nk" v-model="nickname" type="text">
                <button @click="joinChat" class="button">Let's talk</button>
            </section>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="/scripts/main.js"></script>

</body>

</html>



